<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Do+Hyeon&family=Montserrat:wght@500&family=Rubik&family=Ubuntu&display=swap" rel="stylesheet">
    <title>Yodha</title>
</head>
<body>
  <header>
      <nav>
        <a href="/" id="logo">YODHA</a>
        <ul>
            <li><a href="/#cards">Services</a></li>
            <li><a href="#footer">About us</a></li>
            <% if(type === 'gp'){ %>
                <li><a href="#"><%= name %> - General</a></li>
              <% }else if(type === 'hw') {%>
                <li><a href="#"><%= name %> - Health Worker</a></li>
              <% }else if(type === 'go') {%>
                <li><a href="#"><%= name %> - Govt. Official</a></li>
              <%} else if(type === 'ad') {%>
                <li><a href="#"><%= name %> - ADMIN</a></li>
              <%}else {%>
                <li><a href="#"><%= name %></a></li>
              <%}%>
             <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </nav>
  </header>
  <!-- <div id="chartContainer" style="height: 300px; width: 100%;"></div> -->
    <% if(type === 'hw'){ %>
    <section class="container" id="orders">
        <h1>Orders By Users</h1>
        <% payments.forEach(payment => { %>
            <div class="card">
                <h6 class="name">Name: <span><%= payment.name %></span></h6>
                <h6 class="email">e-mail: <span><%= payment.email %></span></h6>
                <h6 class="phone">Phone: <span><%= payment.phone %></span></h6>
                <h6 class="address">Address: <span><%= payment.address %></span></h6>
                <h6 class="zip">Pin code: <span><%= payment.pin %></span></h6>
                <%if(payment.upiref === null){%>
                    <h6 class="upi">UPI ref no: <span> FREE</span></h6>
                <%}else{%>
                    <h6 class="upi">UPI ref no: <span> <%= payment.upiref %></span></h6>
                <%}%>
                <h6 class="date">Date: <span><%= payment.date %></span></h6>
            </div>
        <%})%>
    </section>
    
    <section class="container" id="covidtests">
        <h1>Covid Test Requests</h1>
        <% covidreqs.forEach(req => { %>
            <div class="card">
                <h6 class="name">Name: <span><%= req.name %></span></h6>
                <h6 class="email">e-mail: <span><%= req.email %></span></h6>
                <h6 class="phone">Phone: <span><%= req.phoneNo %></span></h6>
                <h6 class="age">Age: <span><%= req.age %></span></h6>
                <h6 class="gender">Gender: <span><%= req.gender %></span></h6>
                <h6 class="date">Date: <span><%= req.date %></span></h6>
                <form action="/request-covid/sendmail" method="POST">
                    <input type="text" name="email" placeholder="Enter Email Id to send.">
                    <input style=" background-color: #4f44ec;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    cursor: pointer;" type="submit" value="Email Report">
                </form>
            </div>
        <%})%>
    </section>

    <section class="container" id="vaccination">
        <h1>Vaccination Requests</h1>
        <% vaccination.forEach(req => { %>
            <div class="card">
                <h6 class="name">Name: <span><%= req.name %></span></h6>
                <h6 class="email">e-mail: <span><%= req.email %></span></h6>
                <h6 class="phone">Phone: <span><%= req.phoneNo %></span></h6>
                <h6 class="age">Age: <span><%= req.age %></span></h6>
                <h6 class="gender">Gender: <span><%= req.gender %></span></h6>
                <h6 class="date">Date: <span><%= req.date %></span></h6>
            </div>
        <%})%>
    </section>
    <%}%>
    
    <section class="container" id="complain">
        <h1>Complains/Suggestions</h1>
        <% feedback.forEach(feedbk => { %>
            <div class="card">
                <h4 class="heading"><%= feedbk.subject %></h5>
                <h6 class="date"><%= feedbk.date %></h6>
                <h6 class="person"><%= feedbk.name %></h6>
                <p class="information"><%= feedbk.message %></p>
            </div>
        <%})%>
</section>
  <footer id="footer">
    <section>
        <div>
          <h1>
              About us
          </h1>
            <p>
                Yodha is a website designed by <br>a group of students to help tackel <br>the problems related to Covid-19. <br> It ia one stop place for Covid-19.
            </p>
        </div>
        <div>
          <h1>
              Useful links
          </h1>
          <p>> <a href="#">Services</a><br>> <a href="#">About us</a><br>> <a href="#">Help</a></p>
      </div>
        <div>
            <h1>
                Contact us
            </h1>
            <p>+91 1122334455<br>+91 6677889900<br>contact@yodha.com</p>
        </div>
    </section>
    <p id="copy">&copy; Yodha 2021</p>
</footer>
<!-- <script>
    window.onload = function() {
        // notBought = Number(document.getElementById('notBought'));
        // boughtFree = Number(document.getElementById('boughtFree'));
        // boughtPaid = Number(document.getElementById('boughtPaid'));
        // console.log(notBought);
        // console.log(boughtFree);
        // console.log(boughtPaid);
        var chnart = ew CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Inventory Buying Chart"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00\"%\"",
                indexLabel: "{label} {y}",
                dataPoints: [
                    {y: 2 , label: "Not Bought"},
                    {y: 5, label: "Bought Free"},
                    {y: 3, label: "Bought Paid"}
                ]
            }]
        });
        chart.render();

    }
</script> -->
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
</body>
</html>