<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Do+Hyeon&family=Montserrat:wght@500&family=Rubik&family=Ubuntu&display=swap" rel="stylesheet">
    <title>Yodha</title>
</head>
<body>
  <header>
      <nav>
        <a href="/" id="logo">YODHA</a>
        <ul>
            <li><a href="/#cards">Services</a></li>
            <li><a href="#footer">About us</a></li>
            <% if(type === 'gp'){ %>
                <li><a href="#"><%= name %> - General</a></li>
              <% }else if(type === 'hw') {%>
                <li><a href="#"><%= name %> - Health Worker</a></li>
              <% }else if(type === 'go') {%>
                <li><a href="#"><%= name %> - Govt. Official</a></li>
              <%} else if(type === 'ad') {%>
                <li><a href="#"><%= name %> - ADMIN</a></li>
              <%}else {%>
                <li><a href="#"><%= name %></a></li>
              <%}%>
             <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </nav>
  </header>
  <section class="container" id="orders">
    <h1>Orders By Users</h1>
    <% payments.forEach(payment => { %>
        <div class="card">
            <h6 class="name">Name: <span><%= payment.name %></span></h6>
            <h6 class="email">e-mail: <span><%= payment.email %></span></h6>
            <h6 class="phone">Phone: <span><%= payment.phone %></span></h6>
            <h6 class="address">Address: <span><%= payment.address %></span></h6>
            <h6 class="zip">Pin code: <span><%= payment.pin %></span></h6>
            <%if(payment.upiref === null){%>
                <h6 class="upi">UPI ref no: <span> FREE</span></h6>
            <%}else{%>
                <h6 class="upi">UPI ref no: <span> <%= payment.upiref %></span></h6>
            <%}%>
            <h6 class="date">Date: <span><%= payment.date %></span></h6>
        </div>
    <%})%>
</section>
  <footer id="footer">
    <section>
        <div>
          <h1>
              About us
          </h1>
            <p>
                Yodha is a website designed by <br>a group of students to help tackel <br>the problems related to Covid-19. <br> It ia one stop place for Covid-19.
            </p>
        </div>
        <div>
          <h1>
              Useful links
          </h1>
          <p>> <a href="#">Services</a><br>> <a href="#">About us</a><br>> <a href="#">Help</a></p>
      </div>
        <div>
            <h1>
                Contact us
            </h1>
            <p>+91 1122334455<br>+91 6677889900<br>contact@yodha.com</p>
        </div>
    </section>
    <p id="copy">&copy; Yodha 2021</p>
</footer>
</body>
</html>