<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/diagnose.css">
    <title>YODHA</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" id="logo">YODHA</a>
            <ul>
                <li><a href="/#cards">Services</a></li>
                <li><a href="#footer">About us</a></li>
                <% if(type === 'gp'){ %>
                    <li><a href="#"><%= name %> - General</a></li>
                  <% }else if(type === 'hw') {%>
                    <li><a href="#"><%= name %> - Health Worker</a></li>
                  <% }else if(type === 'go') {%>
                    <li><a href="#"><%= name %> - Govt. Official</a></li>
                  <%} else if(type === 'ad') {%>
                    <li><a href="#"><%= name %> - ADMIN</a></li>
                  <%}else {%>
                    <li><a href="#"><%= name %></a></li>
                  <%}%>
                 <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section id="diagnose">
        <div id="form">
            <div id="info">
                <h1>Diagnose Covid-19</h1>
                <h5>Answer these questions to diagnose your symptoms</h5>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q1. Cough?</h5>
                    <div id="1" class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q1" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q1" value="no" required><span>No </span></label> -->
                        <input id="i1" type="checkbox">
                    </div>
                </label>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q2. Cold?</h5>
                    <div class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q2" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q2" value="no" required><span>No </span></label> -->
                        <input id="i2" type="checkbox">

                    </div>
                </label>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q3. Sore throat?</h5>
                    <div class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q3" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q3" value="no" required><span>No </span></label> -->
                        <input id="i3" type="checkbox">

                    </div>
                </label>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q4. Breathing?</h5>
                    <div class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q4" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q4" value="no" required><span>No </span></label> -->
                        <input id="i4" type="checkbox">

                    </div>
                </label>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q5. Fever?</h5>
                    <div class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q5" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q5" value="no" required><span>No </span></label> -->
                        <input id="i5" type="checkbox">
                    </div>
                </label>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q6. Diarrhea?</h5>
                    <div class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q6" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q6" value="no" required><span>No </span></label> -->
                        <input id="i6" type="checkbox">
                    </div>
                </label>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q7. Rash skin?</h5>
                    <div class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q7" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q7" value="no" required><span>No </span></label> -->
                        <input id="i7" type="checkbox">
                    </div>
                </label>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q8. Headache?</h5>
                    <div class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q8" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q8" value="no" required><span>No </span></label> -->
                        <input id="i8" type="checkbox">
                    </div>
                </label>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q9. Body ache?</h5>
                    <div class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q9" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q9" value="no" required><span>No </span></label> -->
                        <input id="i9" type="checkbox">
                    </div>
                </label>
            </div>
            <div class="input">
                <label class="label-for-input radio-input ">
                    <h5 class="question">Q10. Tiredness?</h5>
                    <div class="answers">
                        <!-- <label class="radio"><input onclick=yes() type="radio" name="q10" value="yes" required><span>Yes </span></label>
                        <label class="radio"><input onclick=no() type="radio" name="q10" value="no" required><span>No </span></label> -->
                        <input id="i10" type="checkbox">
                    </div>
                </label>
            </div>
            <div id="response">
                <!-- <span id="answer">You are at risk, go for covid test</span> -->
            </div>
            <div id="submit">
                <input style="width: 50%;" onclick=submit() type="submit" value="Diagnose now">
            </div>
        </div>
    </section>
    <footer id="footer">
        <section>
            <div>
              <h1>
                  About us
              </h1>
                <p>
                    Yodha is a website designed by <br>a group of students to help tackel <br>the problems related to Covid-19. <br> It ia one stop place for Covid-19.
                </p>
            </div>
            <div>
              <h1>
                  Useful links
              </h1>
              <p>> <a href="#">Services</a><br>> <a href="#">About us</a><br>> <a href="#">Help</a></p>
          </div>
            <div>
                <h1>
                    Contact us
                </h1>
                <p>+91 1122334455<br>+91 6677889900<br>contact@yodha.com</p>
            </div>
    
        </section>
        <p id="copy">&copy; Yodha 2021</p>
    </footer>
    <script>
        var y = 0;
        // var no = 0;
        // function yes() 
        // {
        //     y++;
        // }
        // function no() {
        //     y--;
        // }
        // function submit() {
        //     var c = document.getElementById("response");
        //     if(y >= 8) {
        //         c.innerHTML = "<span id=\"answer\">You are at risk, go for covid test</span>"
        //     } else {
        //         c.innerHTML = "<span id=\"answer\">You are fine, take care.</span>"
        //     }
        // }

        function submit() {
            for(var i = 1; i < 11; ++i) {
                q = '#i' + String(i) + ':checked';
                if(document.querySelector(q) !== null) {
                    y++;
                }
            }
            var c = document.getElementById("response");
            if(y >= 8) {
                c.innerHTML = "<span id=\"answer\">You are at risk, go for covid test</span>"
            } else {
                c.innerHTML = "<span id=\"answer\">You are fine, take care.</span>"
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/174b65465c.js" crossorigin="anonymous"></script>
</body>
</html>