<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vaccination-centers.css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Do+Hyeon&family=Montserrat:wght@500&family=Rubik&family=Ubuntu&display=swap" rel="stylesheet">
    <title>Yodha</title>
</head>
<body>
  <header>
      <nav>
        <a href="\" id="logo">YODHA</a>
        <ul>
            <li><a href="#footer">About us</a></li>
            <li><a href="\#cards">Services</a></li>
            <% if(type === 'gp'){ %>
              <li><a href="#"><%= name %> - General</a></li>
            <% }else if(type === 'hw') {%>
              <li><a href="#"><%= name %> - Health Worker</a></li>
            <% }else if(type === 'go') {%>
              <li><a href="#"><%= name %> - Govt. Official</a></li>
            <%} else if(type === 'ad') {%>
              <li><a href="#"><%= name %> - ADMIN</a></li>
            <%}else {%>
              <li><a href="#"><%= name %></a></li>
            <%}%>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </nav>
  </header>
    <section id="map">
            <h1>Vaccination centers in Banglore </h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d497662.8876387462!2d77.37970204309933!3d12.972407466109482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scovid%20vaccination%20near%20Bengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1616736555738!5m2!1sen!2sin" width="800" height="460" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
  <footer id="footer">
    <section>
        <div>
          <h1>
              About us
          </h1>
            <p>
                Yodha is a website designed by <br>a group of students to help tackel <br>the problems related to Covid-19. <br> It ia one stop place for Covid-19.
            </p>
        </div>
        <div>
          <h1>
              Useful links
          </h1>
          <p>> <a href="\#cards">Services</a><br>> <a href="#">About us</a><br>> <a href="#">Help</a></p>
      </div>
        <div>
            <h1>
                Contact us
            </h1>
            <p>+91 1122334455<br>+91 6677889900<br>contact@yodha.com</p>
        </div>

    </section>
    <p id="copy">&copy; Yodha 2021</p>
</footer>
</body>
</html>